
.tituloPrincipal{
    padding-left: 30px;
}

.divPrincipal{
    background: #cccccc;
    padding: 20px;
}

.titulo{
    text-align: center;
    font-size: 40px;
}

.parrafo{
    font-size: 20px;
    text-align: center;
}

.subtitulo{
    font-size: 30px;
    text-align: center;
}
em strong{
    color: red;
}

#mision{
    font-size: 20px;
}

#banner{
    width: 100%;
}

.items{
    font-style: italic;
}

.diferenciales{
    padding: 30px;
}

.imgDiferenciales{
    width: 50%;
}

.listaDiferenciales{
    display:inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}